@model List<Activity4.Models.ButtonModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Button</title>
    <style>        .CustomerLabel {
            font-size: 18px;
            font-family: Arial;
            font-weight: bold;
            color: green;
            text-align: left;
            display: block;
        }
    </style>
</head>
<body>
    <div> 
        @Html.Label("Welcome to Razor", new {  style = "font-size: 24px; font-family: Arial; font-weight: bold; color: red; text-align: center; display: block"}) <br/>
        @Html.Label("Playing with buttons", new { @class = "CustomerLabel"})
    </div>
    <div> 
        @("Number of buttons is " + Model.Count)<br />
        @using (Html.BeginForm("OnButtonClick", "Button"))
        {
            <button type="submit" name="mine" value="1">
                @if (Model[0].State)
                {
                    <img src="~/Images/On.png" />
                }
                else
                {
                    <img src="~/Images/Off.png" />
                }
            </button> <br />
            <button type="submit" name="mine" value="2">
                @if (Model[1].State)
                {
                    <img src="~/Images/On.png" />
                }
                else
                {
                    <img src="~/Images/Off.png" />
                }
            </button> <br />

        }
    </div>
</body>
</html>
